<!-- Views/Books/_BookForm.cshtml -->
<form id="addBookForm">
    <input type="text" name="Title" placeholder="Book Title" />
    <input type="number" name="AuthorId" placeholder="Author Id" />
    <input type="number" name="GenreId" placeholder="Genre Id" />
    <button type="submit">Add Book</button>
</form>
